<div class="row text-center">
  <h3>employees</h3>

  <table class="table">
    <tr id="first-row">
      <th width="35%" class="text-center">name</th>
      <th width="35%" class="text-center">division</th>
      <th width="20%"></th>
    </tr>
    <% @employees.each do |employee| %>
      <tr>
        <td class="text-center">
          <a href="/employees/<%= employee.id %>"><%= employee.name %></a>
        </td>
        <td class="text-center">
          <a href="/divisions/<%= employee.division_id %>"><%= employee.division.name %></a>
        </td>
        <form action="/employees/<%= employee.id %>" method="post">
          <td>
            <input type="hidden" name="_method" value="delete">
            <button type="submit" name="delete" class="form-control btn btn-danger btn-sm">delete employee</button>
          </td>
        </form>
      </tr>
    <% end %>

    <tr>
      <form class="form-inline" action="/employees/new" method="post">

        <td width="40%">
          <label hidden for="name">new employee name</label>
          <input class="form-control" type="text" name="name" id="name" placeholder="new employee name" required>
        </td>

        <td width="40%">
          <label hidden for="division">new employee division</label>
          <select class="form-control" name="division_id" required>
            <option value="" disabled selected>new employee division</option>
            <% @divisions.each do |division| %>
              <option value="<%= division.id %>"><%= division.name %></option>
            <% end %>
          </select>
        </td>

        <td width="10%">
          <button class="btn btn-primary btn-sm form-control" name="submit" type="submit">+ employee</button>
        </td>

      </form>
    </tr>
  </table>
  <a class="btn btn-warning btn-sm" href='/'>home</a>
</div>
